services:
  fano-proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    container_name: fano-stt-proxy
    ports:
      - "8080:8080"
    environment:
      - PROXY_PORT=8080
      - FANO_URL=wss://ocbc-poc.fano.ai/speech/streaming-recognize
      - AUTH_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJmYW5vX2RlbmllZF9hY2Nlc3MiOlsiY2FsbGludGVyOndvcmtzcGFjZS0qIiwiY2FsbGludGVyOnZvaWNlcHJpbnQtKiIsImNhbGxpbnRlcjp3b3JkLWNsb3VkLSoiLCJjYWxsaW50ZXI6cHJvLXNlYXJjaC1hbmQtc2F2ZS1xdWVyeSIsImNhbGxpbnRlcjp3b3Jrc3BhY2Utbm90aWZpY2F0aW9uLXRhcmdldCIsImNhbGxpbnRlcjpub3RpZmljYXRpb24tdGFyZ2V0IiwiSW50ZW50OioiLCJQb3J0YWw6c3VwZXItdXNlciJdLCJmYW5vX3NwZWVjaF9kaWFyaXplX3F1b3RhX3N0cmF0ZWd5IjoiZGVmYXVsdCIsImZhbm9fc3BlZWNoX2dlbmVyYXRlX3ZvaWNlcHJpbnRfcXVvdGFfc3RyYXRlZ3kiOiJkZWZhdWx0IiwiZmFub19zcGVlY2hfcmVjb2duaXplX3F1b3RhX3N0cmF0ZWd5IjoiZGVmYXVsdCIsImZhbm9fc3BlZWNoX3N0cmVhbWluZ19kZXRlY3RfYWN0aXZpdHlfcXVvdGFfc3RyYXRlZ3kiOiJkZWZhdWx0IiwiZmFub19zcGVlY2hfc3RyZWFtaW5nX3JlY29nbml6ZV9xdW90YV9zdHJhdGVneSI6ImRlZmF1bHQiLCJmYW5vX3NwZWVjaF9yZXBsYWNlX3BocmFzZXNfcXVvdGFfc3RyYXRlZ3kiOiJkZWZhdWx0IiwiZmFub19zcGVlY2hfc3ludGhlc2l6ZV9zcGVlY2hfcXVvdGFfc3RyYXRlZ3kiOiJkZWZhdWx0IiwiaWF0IjoxNzYyNzM4ODg3LCJleHAiOjE3NjUzODI0MDAsImF1ZCI6InRlbXAtb2NiYy1ydHN0dC1wb2MiLCJzdWIiOiJPQ0JDIiwiaXNzIjoiaHR0cHM6Ly9hdXRoLmZhbm8uYWkifQ.Gj3qIyhD2aZvNADKSlOPKnI4w8dMgEDcgiybx8vGn5xTSdYeBw_d9AiyoCjOQb0m-FAJRRL73ykXYLV_Q5EjzvCt4Kmigdb40N5aFCssQ2rq0yUry2rxhT84eBNptfwOy6SJPoZOTkrTm026W8DkFOzNO_NxFWJLmjMZiRfJAGhOBmfEZlDJxmfTaVNKWC-qD2b-p09JoXsRU7hOcvHrmST7igbEwiHunA9ig1T9dfFoxPulMCsIDl7VsCK_AbbjWWpAJ2mkqjyDyzMLlTxBKbVIKX_s8V9dG9VgiHzCGTBiV4uuoiAsoupJ7GOdov6xmvdG2UMVuUv1yh3D78JTSA
    restart: unless-stopped
    healthcheck:
      disable: true
    networks:
      - fano-network

  fano-stt-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fano-stt-web
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - WEBSOCKET_URL=ws://10.104.0.2:8080
      - NEXT_PUBLIC_WEBSOCKET_URL=ws://10.104.0.2:8080
    depends_on:
      - fano-proxy
    restart: unless-stopped
    healthcheck:
      disable: true
    networks:
      - fano-network

networks:
  fano-network:
    driver: bridge
    name: fano-stt-network

volumes:
  node_modules_proxy:
  node_modules_app:
